.header {
    @apply flex items-center bg-[#c5f5fa] justify-between  h-[50px] sticky top-[-1px] px-[70px] shadow-md bg-opacity-90 backdrop-blur-xl;
    @media(max-width: 750px) {
        @apply px-4
    }
}

.headerPage {  
    background-image: url(../../assets/cpLogo.svg), linear-gradient(0deg, #c5f5fa, #f1f5f9),;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @apply px-[75px] h-[300px];
    @media (max-width: 750px) {
        @apply px-[25px]
    }
}

.title {
    @apply text-2xl font-semibold text-gray-600 flex items-center flex-col
}

.menu {
    @apply flex items-center justify-start;
    p {
        @apply mx-2
    }
}

.pageContent {
    @apply font-semibold
    
}

.links {
    @apply pb-2;
    a {
        @apply h-3 w-6 inline-block
    }
    a:nth-child(1){
        @apply mr-2
    };
    @media (max-width: 750px) {
        @apply hidden
    }
}

.navList {
    @media(max-width: 750px) {
        @apply hidden
    }
}

.menuButton {
    @media (min-width: 750px) {
        @apply hidden
    }
}