
// h-[50px] + вернуть media 750
.header {
    @apply flex items-center bg-[#3b5b96] justify-between  h-[65px] sticky top-[-1px] px-[70px] bg-opacity-90 backdrop-blur-xl z-[1000] shadow-md;
    @media(max-width: 925px) {
        @apply px-4
    }
}

.headerPage {  
    // url(../../assets/cpLogo.svg) + убрать shadow-md + нормальный цвет
    background-image: linear-gradient(0deg, #3b5b96, #f1f5f9),;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @apply px-[75px] h-[300px] shadow-md;
    @media (max-width: 750px) {
        @apply px-[25px]
    }
}

.title {
    @apply text-2xl font-semibold text-gray-600 flex items-center flex-col
}

.menu {
    @apply flex items-center justify-start;
    p {
        @apply mx-2
    }
}

.pageContent {
    @apply font-semibold
    
}


//750 a ne 815
.links {
    @apply pb-2;
    a {
        @apply h-3 w-6 inline-block
    }
    a:nth-child(1){
        @apply mr-2
    };
    @media (max-width: 815px) {
        @apply hidden
    }
}

.navList {
    @media(max-width: 815px) {
        @apply hidden
    }
}

.menuButton {
    @media (min-width: 815px) {
        @apply hidden
    }
}